body {
  background-color: white;
  font-family: Comic Sans MS, Comic Sans, cursive;
  margin: 0;
  padding: 0;
}

nav {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  display: inline-flex;
  justify-content: space-between;
  height: 70px;
  background-color: hsl(0, 0%, 0%);
  align-items: center;
  padding: 0 10px;
  box-sizing: border-box;
  opacity: 1;
  transition: opacity 0.6s ease; /* Smooth transition for opacity */
}

.liNav {
  color: white;
}

.navs {
  display: inline-flex;
  align-items: center;
  gap: 20px;
}

.imgOfNavBar {
  width: 300px;
}